body,
html,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 80vh;
  width: 80vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.row {
  flex-grow: 1;
  display: flex;
}

.square {
  flex-grow: 1;
  border: 2px solid lightgray;
  cursor: pointer;
  display: flex;
}

.square img {
  width: 100%;
  height: 100%;
}

.footer {
  position: fixed;
  z-index: 20;
  background-color: transparent;
  opacity: 0.6;
  height: 8vh;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer section img {
  width: 5vh;
  height: 5vh;
}

.winner {
  z-index: 100;
  background: white;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.winner .player {
  display: block;
  width: 30vh;
  height: 30vh;
}

.winner .btn {
  border: none;
  padding: 5px;
  font-size: 1rem;
  background: transparent;
  cursor: pointer;
  color: darkblue;
  border: 1px solid darkblue;
  border-radius: 10px;
}

.winner .btn:hover {
  background-color: darkblue;
  color: white;
}

@media (max-width: 970px) {
  .wrapper {
    height: 90vw;
    width: 90vw;
  }
}
